@import 'jeet'
@import 'nib'
@import 'rupture'

$lora = 'Lora', serif

body
    font-family: sans-serif
    font-size: 1.15em
    h1
        font-family: $lora
    p
        font-family: sans-serif
        font-weight: 300
        line-height: 1.5em
    .container
        center(1000px)
article
    margin-bottom: 4em


footer
    text-align: center
