@import 'jeet'
@import 'nib'
@import 'rupture'

$lora = 'Lora', serif

body
    font-family: $lora
    font-size: 1.15em
    p
        font-family: sans-serif
        font-weight: 300
        line-height: 1.5em
article
    margin-bottom: 4em


footer
    text-align: center
